// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib
// author: spider
@import 'nib'

// Main

body, html
  height 100%
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

body
  font normal 1em sans-serif
  background linear-gradient(top, #eee, #fff)

p
  margin-bottom 1em

a 
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333
  text-shadow 1px 1px 2px white

#content
  padding 0
  margin 0
  height 100%



#login
  border 1px solid #ccc
  width 500px
  text-align left
  margin 50px auto
  padding 15px
  border-radius 5px
  h3
    font-size 1.0em
    font-weight normal
    padding 1px
    margin 3px 1px 12px 1px
    border-bottom:1px dotted #ccc
  h5
    padding 5px 0
    color #666
    font-weight normal
    font-size 0.8em
  p
    font-size 0.9em
    color #000a68
    padding 3px 9px
    margin 0
    clear both
  span.label
    display block
    float left
    width 150px
    padding 5px 5px 0 0
  input[type="text"], input[type="password"]
    display block
    border none
    box-shadow inset 0 0 2px #777
    border-radius 5px
    width 190px
    padding 5px
    float left
    margin 0 10px
  input[type="submit"]
    display block
    border none
    box-shadow inset 0 0 2px #777
    border-radius 5px
    width 70px
    text-align center
    padding 5px
    float left

  


// Quick Chat Demo
#chat
  border 1px solid #ccc
  width 200px
  text-align left
  margin 50px auto
  padding 15px
  border-radius 5px
  h3
    font-size 1.0em
    font-weight normal
  h5
    padding 5px 0
    color #666
    font-weight normal
    font-size 0.8em
  #myMessage, #chatlog
    border none
    box-shadow inset 0 0 2px #777
    border-radius 5px
  #myMessage
    width 190px
    padding 5px
  #chatlog
    width 200px
    background-color white
    margin 5px 0
    overflow-y auto
    height 400px
    p
      font-size 0.9em
      color #000a68
      padding 3px 9px
      margin 0
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
    div.time
      color #666
      width 100%
      text-align center
      font-size 0.7em
    div.bubbleright
      margin-top 3px
      padding 3px 5px 3px 5px
      max-width 80%
      clear both
      border 1px solid grey
      align right
    div.bubbleleft
      margin-top 3px
      margin-bottom 5px
      padding 3px 5px 3px 5px 
      max-width 80%
      clear both
      border 1px solid grey
      div.userId
        background-image url("http://www.deviantart.com/download/217746215/boobs_icon_2_by_oceanhell-d3ln21z.gif") no-repeat       
        background-position bottom left      
      div.avatar
        color #666    
        font-size 0.55em
        vertical-align bottom
        text-align center
        padding 2px 5px 0px 0px
      div.message
        color #000
        font-size 0.7em
        font-style serif
        padding 1px 5px 
// Grid Layout

#layout-cell-north
  height 50px
  background-color #3F3F3F
  border-bottom 1px solid black
  color: white;
  #messagebar
    position absolute
    top 5px
    left 5px
    width 100%
    height 30px
  #logoutwrapper
    display block
    position absolute
    right 5px
    top 5px
    width 100px
    margin 0
    padding 0
    #logout
      width 90px
      border none
      box-shadow inset 0 0 2px #777
      border-radius 5px
      text-align center
      padding 5px
    
#layout-cell-south
  height 20px
  background-color #3F3F3F
  border-top 1px solid black
  color white
  font-size 10px
#layout-cell-east
  height:100%
#layout-cell-west
  height:100%

#content
  .layout-cell
    display inline-block
  .west
    width 290px
  .east
    width 250px
  .ui-resizable-handle
    background-color rgb(220, 220, 220)
    text-align center
  .ui-resizable-w, .ui-resizable-e
    width 6px
    border-left 1px solid rgb(210, 210, 210)
    border-right 1px solid rgb(210, 210, 210)
  .ui-resizable-n, .ui-resizable-s
    height 6px
    border-top 1px solid rgb(210, 210, 210)
    border-bottom 1px solid rgb(210, 210, 210)
  .ui-resizable-w
    left -8px
  .ui-resizable-e
    right -8px
  .ui-resizable-n
    top -8px
  .ui-resizable-s
    bottom -8px
  .ui-resizable-helper-west
    border solid rgb(220, 220, 220)
    border 0 0 0 6px
  .ui-resizable-helper-east
    border solid rgb(220, 220, 220)
    border 0 6px 0 0
  .ui-resizable-helper-north
    border solid rgb(220, 220, 220)
    border 0 0 6px 0
  .ui-resizable-helper-south
    border solid rgb(220, 220, 220)
    border 6px 0 0 0
