    <div class="layout" id="content">
      <div class="layout-cell center" id="layout-cell-center">
	      <a href="https://github.com/socketstream/socketstream">
	        <img src="/images/logo.png" alt="SocketStream Logo" width="160" height="160">
	      </a>
	      <h1>Welcome to myClassroom</h1>
      </div>
      <div class="layout-cell east" id="layout-cell-east">
      </div>
      <div class="layout-cell west" id="layout-cell-west">
        <!-- cell 4-->
        <p>west</p>
      </div>
      <div class="layout-cell south" id="layout-cell-south">
        <!-- cell 4-->
        <p>myClassroom is copyright Laurence Davies 2012</p>
      </div>
      <div class="layout-cell north" id="layout-cell-north">
        <!-- cell 4-->
        <div id="messagebar"></div>
      </div>
    </div>
