<form id="login" onsubmit="return false">
<h3>Please sign in to use myClassroom</h3>
<p><span class="label">Username/email:</span>
<input id="username" type="text" autocomplete="on"></p>
<p class="fieldname"><span class="label">Password</span>
<input id="password" type="password" autocomplete="on"><input type="submit" value="Sign in" /></p>
<div style="clear:both"></div>
</form>
