<form id="chat" onsubmit="return false">
	<h3>Chatroom</h3>
	<h5 id="chatroom-subtitle">You are not in a chatroom</h5>
	<div id="chatlog"></div>
	<input id="myMessage" type="text" autocomplete="off">
</form>
