<p>
  <div class="time">{{time}}</div>
  <div class="bubbleleft">
    <div class="message">{{message}}</div>
    <div class="userId">{{userId}}</div>
    <div class="avatar">&lt;Avatar&gt;</div>
  </div>
</p>
